<header class="text-white bg-black body-font">
  <nav class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">
    <a class="flex items-center mb-4 text-3xl text-white md:mb-0">
        <h1>Asilo Digital</h1>
    </a>
    <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto">
      <a class="mr-5 hover:text-gray-900">Inicio</a>
      <a class="mr-5 hover:text-gray-900">Comunidad</a>
      <a class="mr-5 hover:text-gray-900">Comunidad</a>
      <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700">Contribuir</button>
    </nav>
  </nav>
</header>
